.btn{
    margin-left: 2px;
    margin-right: 2px;
}
.header_blog{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.btn_cont{
    margin-right: 22px;
}