*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 370px;
    margin: -38px;
    border-radius: 15px;
}
.cardim{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.im1{
    background-image: url('/public/image1.jpg');
}
.im2{
    background-image: url('/public/image2.jpg');
}
.im3{
    background-image: url('/public/image3.jpg');
}
.card p{
    padding: 10px;
}
.card h2{
    padding: 10px;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px 50px;
    border-radius: 15px;
}
.card:hover{
    cursor: pointer;
    background-color:rgb(123, 112, 179);
    color: white;
    transition: all 0.5s ease;
    transform: scale(1.14);
}